In [166]:
import pandas as pd

In [167]:
FILENAME = 'Ward, Gratten 2021_Timesheet_2021-07-26.xls'

df = pd.read_excel(FILENAME,
                  skiprows=19,
                  usecols=('A:K'))

In [169]:
df.columns = ['order', 'desc', 'sequence', 'activity', 1, 2, 3, 4, 5, 6, 7]

In [170]:
df = df.iloc[:df['order'].isnull().values.argmax()]

In [172]:
df['labor'] = df.iloc[:, 4:11].sum(axis=1)

In [173]:
df = df.loc[:, df.columns.intersection(['order', 'sequence', 'activity', 'labor'])]

In [176]:
df = df.groupby(['order', 'sequence', 'activity']).sum().reset_index()

In [177]:
df

   order  sequence  activity  labor
0  AE-21       0.0      49.0    2.0
1  AE-21       0.0      50.0    1.5
2  J4155       2.0      10.0    6.0

In [178]:
# df = df[['order', 'sequence', 'activity', 'labor']]

In [179]:
# df.to_excel('output.xlsx')